.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row_checked {
  border: 1px solid blue;
  background-color: blue;
}

.row {
}

.dataCell {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: gray;
  border: 1px solid black;
  z-index: 30;
}

/* .dropdown:after {
  background: transparent;
  bottom: 0;
  content: " ";
  cursor: default;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
} */

.dropdownItem {
  color: white;
}

.dropdownItem:hover {
  background-color: lightgray;
  cursor: pointer;
}
